<h1>Edit Trimester</h1>

<%= form_with model: @trimester, local: true do |form| %>
  <div>
    <%= form.label :application_deadline, "Application Deadline" %><br>
    <%= form.date_field :application_deadline %>
  </div>

  <div>
    <%= form.submit "Update Trimester" %>
  </div>
<% end %>
