<h1>Trimesters#index</h1>
<p>Find me in app/views/trimesters/index.html.erb</p>

<ul>
  <% @trimesters.each do |trimester|%>
    <li>
      <%= "#{trimester.term} #{trimester.year}"%>
    </li>
  <% end%>
</ul>

